/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@import "tailwindcss";

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
}

/* .landing-page .navbar {
  color: white;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.landing-page .navbar .nav-links {
  color: rgb(224, 130, 16);
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}
.landing-page .navbar .nav-links Link {
  color: white;
  text-decoration: none;
  font-weight: bold;
} */

.landing-page #get-started {
  color: rgb(255, 255, 255);
  background-color: #d48d00;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  margin-top: 10px;
  text-decoration: none;
}

.landing-page #connect {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  flex-wrap: wrap;
}
.landing-page #mobile-image {
  min-width: 100px;
}

@media screen and (max-width: 830px) {
  .landing-page #mobile-image {
    width: 100px;
  }
}

/* .login-container {
  height: 100vh;
  width: 100%;
  background-color: #000205;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form-container {
  width: 300px;
  color: rgb(0, 0, 0);
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 10px;
}
.form-container form input {
  height: 35px;
  border-radius: 5px;
  border: 0.3px solid rgb(102, 102, 102);
  padding: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.form-container form input:focus {
  outline: 2px solid rgba(9, 52, 224, 0.377);
  border: 1px solid rgb(9, 52, 224);
}

.form-container .auth-btn {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(56, 67, 213);
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.form-container .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  width: 100%;
}
